<h1>My Venues</h1>

<form id="search-form">
  <input type="text" name="search" id="search">
  <input type="submit" value="Search">
</form>

<%= image_tag(asset_path("dog.jpg"), height: "300px") %>

<div class="container">
  <div class="venues">
    <% @venues.each do |venue| %>
      <div class="venue">
        <h3>Name: <%= venue.name %></h3>
        <h3>Address: <%= venue.address %></h3>
        <h4>Information: <%= venue.information.details %></h4>
      </div>
    <% end %>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>


<%= javascript_pack_tag "leaflet/index" %>