<h1>My Venues</h1>


  <div class="venues">
    <% @venues.each do |venue| %>
      <div class="venue">
        <h3>Name: <%= venue.name %></h3>
        <h3>Address: <%= venue.address %></h3>
        <h4>Information: <%= venue.information.details %></h4>
        <%= link_to "Show", venue_path(venue.id) %>
      </div>
    <% end %>
  </div>

  <hr>
  <h1>Map</h1>
  <div class="map-container">
    <div id="map"></div>
  </div>


<%= javascript_pack_tag "leaflet/index" %>